{% extends "layout.html" %}
{% block content %}

	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Contact Us</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="{{url_for('index')}}">Home</a></li>
								<li class="active">Contact Us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->


		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="contact">
							<div class="map-wrapper">
								<!-- ***** Google Maps Start ***** -->
								<div class="map-canvas"
									data-zoom="12"
									data-lat="24.745298385620117"
									data-lng="46.607662200927734"
									data-type="roadmap"
									data-hue="#ffc400"
									data-title="Fursa"
									data-icon-path="{{ url_for('static', filename='assets/images/marker-orange.png') }}"
									data-content="4590 Northern Ring Branch Rd - Hitteen Dist Unit No 4805<br>Riyadh 13513 - 7018 Kingdom of Saudi Arabia<br><br><a href='mailto:support@yourbrand.com'>mailto:support@yourbrand.com</a>">
								</div>
								<!-- ***** Google Maps End ***** -->
							</div>
							<div class="contact-info">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="item">
											<i class="fa fa-location-arrow"></i>
											<div class="txt">
												<span>4590 Northern Ring Branch Rd - Hitteen Dist Unit No 4805<br>Riyadh 13513 - 7018 Kingdom of Saudi Arabia</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="item">
											<i class="fa fa-phone"></i>
											<div class="txt">
												<span>+966 507 529 830<br></span>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="item">
											<i class="fa fa-envelope"></i>
											<div class="txt">
												<span><a href="mailto:admin@fursa.tech">admin@fursa.tech</a></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="contact-bottom">
							<div class="row">
								<!-- ***** Contact Text Start ***** -->
								<div class="col-lg-4 col-md-6 col-sm-12">
									<h5 style="color: #1D4F91;" class="margin-bottom-30">Get in touch</h5>
									<div class="contact-text">
										<p>
											Fursa is founded in 2012 and is a company specializing in the implementation of telecommunications and information technology projects managed by experts in the fields of technology and project management.</p>
											<p>In line with his highness
											Crown Prince Mohammed bin Salman vision to advance the technology sector,
											contribute and participate in the renaissance of digital transformation
										</p>
									</div>
								</div>
								<!-- ***** Contact Text End ***** -->

								<!-- ***** Contact Form Start ***** -->
								<div class="col-lg-8 col-md-6 col-sm-12">
									<div class="contact-form">
										<div class="row">
											<div class="col-lg-6 col-md-12 col-sm-12">
												<input type="text" placeholder="Name, surname">
											</div>
											<div class="col-lg-6 col-md-12 col-sm-12">
												<input type="text" placeholder="E-Mail">
											</div>
											<div class="col-lg-12">
												<textarea placeholder="Your message"></textarea>
											</div>
											<div class="col-lg-12">
												<button style="color: white !important;" class="btn-primary-line pull-right">SEND</button>
											</div>
										</div>
									</div>
								</div>
								<!-- ***** Contact Form End ***** -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->

	</section>

{% endblock content %}