{% extends "layout.html" %}
{% block content %}

<!-- ***** Welcome Area Start ***** -->
	<div class="welcome-area" id="welcome">
		<!-- ***** Header Background Image Start ***** -->

		<!-- ***** Header Text Start ***** -->
		<div class="header-text">
			<div class="container">
				<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="row">
					<div class="col-lg-5 col-md-12 col-sm-12">
						<h1>Industry Leading Managed Services and Staffing <span>Solutions</span></h1>
						<p>Proven methods to capture business priorities and goals as well as current pain points that
							enables measurable business outcomes.</p>
						<a href="{{ url_for('about') }}" class="btn-primary-line">LEARN MORE</a>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Header Text End ***** -->
	</div>
	<!-- ***** Welcome Area End ***** -->


	<!-- ***** Features Small Start ***** -->
	<section class="section features-home">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<!-- ***** Features Small Item Start ***** -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<a href="professional_services.html" class="features-small-item">
								<div class="icon">
									<i class="fa fa-calendar"></i>
								</div>
								<h5 class="features-title">Professional Services</h5>
								<p>At Fursa we manage multi-technology projects with high quality PM
									experienced to ensure timely project delivery.</p>
								<div class="next">
									<i class="fa fa-angle-right"></i>
								</div>
							</a>
						</div>
						<!-- ***** Features Small Item End ***** -->

						<!-- ***** Features Small Item Start ***** -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<a href="it_iot_solution.html" class="features-small-item">
								<div class="icon">
									<i class="fa fa-internet-explorer" aria-hidden="true"></i>
								</div>
								<h5 class="features-title">IT & IOT Solutions</h5>
								<p>Take Your Business Into the Future with Fursa, Storage and Software IT Solutions.
									Explore Fursa IT solutions and more
								</p>
								<div class="next">
									<i class="fa fa-angle-right"></i>
								</div>
							</a>
						</div>
						<!-- ***** Features Small Item End ***** -->

						<!-- ***** Features Small Item Start ***** -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<a href="odoo_erp.html" class="features-small-item">
								<div class="icon">
									<i class="fa fa-briefcase" aria-hidden="true"></i>
								</div>
								<h5 class="features-title">Odoo ERP</h5>
								<p>Fursa provides an Odoo ERP Systems Which is a suite of open source business apps that
									cover all your company needs</p>
								<div class="next">
									<i class="fa fa-angle-right"></i>
								</div>
							</a>
						</div>
						<!-- ***** Features Small Item End ***** -->

						<!-- ***** Features Small Item Start ***** -->
						<div class="col-lg-3 col-md-6 col-sm-6 col-12">
							<a href="vms.html" class="features-small-item">
								<div class="icon">
									<i class="fa fa-camera" aria-hidden="true"></i>
								</div>
								<h5 class="features-title">VMS Systems</h5>
								<p>A video management system,known as video management software, is a component of a
									security camera system.</p>
								<div class="next">
									<i class="fa fa-angle-right"></i>
								</div>
							</a>
						</div>
						<!-- ***** Features Small Item End ***** -->

						<!-- ***** Features Small Item Start ***** -->
						<div class="fearure-middle">
							<div class="col-lg-3 col-md-6 col-sm-6 col-12">
								<a href="cctv_system.html" class="features-small-item">
									<div class="icon">
										<i class="fa fa-video-camera"></i>
									</div>
									<h5 class="features-title">CCTV Systems</h5>
									<p>A Closed Circuit Television Systems are primarily used as a key
										public circulation monitoring tool positioned in key locations.</p>
									<div class="next">
										<i class="fa fa-angle-right"></i>
									</div>
								</a>
							</div>
							<!-- ***** Features Small Item End ***** -->

							<!-- ***** Features Small Item Start ***** -->
							<div class="col-lg-3 col-md-6 col-sm-6 col-12">
								<a href="data_center.html" class="features-small-item">
									<div class="icon">
										<i class="fa fa-server"></i>
									</div>
									<h5 class="features-title">Data Center & Microsoft Solutions</h5>
									<p>Data center is a facility used to house computer systems & associated components.
									</p>
									<div class="next">
										<i class="fa fa-angle-right"></i>
									</div>
								</a>
							</div>
							<!-- ***** Features Small Item End ***** -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Features Small End ***** -->

	<section class="animated section padding-bottom-80 colored" id="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 align-self-center mobile-bottom-fix">
					<div class="left-heading">
						<h2 class="section-title">Professional Services</h2>
					</div>
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-text">
						<p>At Fursa we manage multi-technology projects with high quality PM
							experienced to ensure timely project delivery.</p>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5 col-md-5 col-sm-5 align-self-center mobile-bottom-fix"
					>
					<img src="{{ url_for('static', filename='assets/images/services1.png') }}" class="img-fluid d-block mx-auto rounded-image" alt="App">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 align-self-center mobile-bottom-fix">
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-heading">
						<h2 class="section-title">IT & IOT Solutions</h2>
					</div>
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-text">
						<p>Take Your Business Into the Future with Fursa, Storage and Software IT Solutions.
							Explore Fursa IT solutions and more</p>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5 col-md-5 col-sm-5 align-self-center mobile-bottom-fix"
					data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="{{ url_for('static', filename='assets/images/IT Solutions.svg') }}" class="img-fluid d-block mx-auto rounded-image" alt="App">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 align-self-center mobile-bottom-fix">
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-heading">
						<h2 class="section-title">Odoo ERP</h2>
					</div>
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-text">
						<p>Fursa provides an Odoo ERP Systems Which is a suite of open source business apps that
							cover all your company needs.</p>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5 col-md-5 col-sm-5 align-self-center mobile-bottom-fix"
					data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="{{ url_for('static', filename='assets/images/odoo_new.jpeg') }}" class="img-fluid d-block mx-auto rounded-image" alt="App">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 align-self-center mobile-bottom-fix">
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-heading">
						<h2 class="section-title">CCTV Systems</h2>
					</div>
					<div data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" class="left-text">
						<p>A Closed Circuit Television Systems are primarily used as a key
							public circulation monitoring tool positioned in key locations.</p>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5 col-md-5 col-sm-5 align-self-center mobile-bottom-fix"
					data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
					<img src="{{ url_for('static', filename='assets/images/cctv.jpeg') }}" class="img-fluid d-block mx-auto rounded-image" alt="App">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 align-self-center mobile-bottom-fix">
					<div  class="left-heading">
						<h2 class="section-title">Data Center & Microsoft Solutions</h2>
					</div>
					<div class="left-text">
						<p>Data center is a facility used to house computer systems & associated components.</p>
					</div>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-5 col-md-5 col-sm-5 align-self-center mobile-bottom-fix"
					>
					<img src="{{ url_for('static', filename='assets/images/datacenter.jpeg') }}" class="img-fluid d-block mx-auto rounded-image" alt="App">
				</div>
			</div>
		</div>
	</section>

	<!-- ***** Counter Parallax Start ***** -->
	<section class="parallax-counter" id="counter">
		<div class="parallax-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>31</strong>
							<span>Satisfied<br>Customer</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>25</strong>
							<span>Experienced<br>Staff</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="count-item">
							<strong>16</strong>
							<span>Partnership<br>Secured</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Counter Parallax End ***** -->

	<!-- ***** Team Start ***** -->
	<section class="section padding-bottom-90" id="our-team">
		<div class="container">
			<!-- ***** Section Title Start ***** -->
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Our Partners</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Partnerships with leading Industry Principals & Technology Providers</p>
					</div>
				</div>
			</div>
			<!-- ***** Section Title End ***** -->


			<div class="row">
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://consumer.huawei.com/sa-en/" class="page-gallery" title="Huawei">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/0Sp-50EZ_400x400.png') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.se.com.sa/en-us/Pages/home.aspx" class="page-gallery"
						title="Saudi Electricity Company">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1986551-1495256301.jpeg') }}"
							alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.momra.gov.sa/" class="page-gallery"
						title="Ministry of Rural Affairs Saudi Arabia">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1519892294960.png') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.dawiyat.com.sa/english/Default.aspx" class="page-gallery"
						title="Integrated Dawiyat">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/n1004.jpeg') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.americandynamics.net/" class="page-gallery" title="American Dynamics">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/american_dynamics.png') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.zain.com/en/" class="page-gallery" title="zain">
						<img style="max-width:100%; max-height:100%;"
							src="{{ url_for('static', filename='assets/images/uploadsnewszain_ksa_logo2_1.jpeg') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://mobile.lebara.com/global/en" class="page-gallery" title="Lebara">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/logo.jpeg') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="http://www.juffali.com/" class="page-gallery" title="Khalid Ahmed Group">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1519863817102.png')}}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.gapp.sa/" class="page-gallery" title="GAPP">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1586676799913.png') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://etmam.housing.gov.sa/en/home/" class="page-gallery" title="Etmam">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/etmam1.jpeg') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.samsung.com/sa_en/" class="page-gallery" title="samsung">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/sam.jpeg') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.panasonic.com/middleeast/en/support/local-warranty-in-middle-east/saudi-arabia.html"
						class="page-gallery" title="panasonic">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/pan.png') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.avigilon.com/products/acc/supported-cameras" class="page-gallery"
						title="avigilon">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/avi.jpeg')}}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.genetec.com/" class="page-gallery" title="genetec">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/gen.png') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.milestonesys.com/" class="page-gallery" title="milestonesys">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/mile.jpeg') }}" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
					<a href="https://www.odoo.com/" class="page-gallery" title="odoo">
						<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/odoo.jpeg') }}" alt="">
					</a>
				</div>
				<!-- ***** Team Item End ***** -->
			</div>
		</div>
	</section>
	<!-- ***** Team End ***** -->

	<!-- ***** Parallax Start ***** -->
	<section class="parallax" id="parallax-text">
		<div class="parallax-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="info">
							<p>We design and develop <span>solutions</span> that delight your users and grow your
								business.</p>
							<a class="btn-white-line" href="{{ url_for('contact') }}">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Parallax End ***** -->

	<!-- ***** Contact Start ***** -->
	<section class="section white padding-bottom-70" id="contact">
		<div class="container">

			<!-- ***** Section Title Start ***** -->
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Contact Us</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Have any question? We'd love to hear from you</p>
					</div>
				</div>
			</div>
			<!-- ***** Section Title End ***** -->

			<div class="page-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="contact">
								<div class="map-wrapper">
									<!-- ***** Google Maps Start ***** -->
									<div class="map-canvas" data-zoom="12" data-lat="24.7490859" data-lng="46.6043729"
										data-type="roadmap" data-hue="#ffc400" data-title="Fursa"
										data-icon-path="{{ url_for('static', filename='assets/images/marker-orange.png') }}"
										data-content="4590 Northern Ring Branch Rd - Hitteen Dist Unit No 4805<br>Riyadh 13513 - 7018 Kingdom of Saudi Arabia<br><br><a href='mailto:admin@fursa.tech'>mailto:admin@fursa.tech</a>">
									</div>
									<!-- ***** Google Maps End ***** -->
								</div>
								<div class="contact-info">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="item">
												<i class="fa fa-location-arrow"></i>
												<div class="txt">
													<span>4590 Northern Ring Branch Rd - Hitteen Dist Unit No
														4805<br>Riyadh 13513 - 7018 Kingdom of Saudi Arabia</span>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="item">
												<i class="fa fa-phone"></i>
												<div class="txt">
													<span>+966 507 529 830<br>+966 59 920 2838</span>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="item">
												<i class="fa fa-envelope"></i>
												<div class="txt">
													<span><a href="mailto:admin@fursa.tech">admin@fursa.tech</a></span>
												</div>
											</div>
											<div class="item">
												<ul class="social">
													<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="contact-bottom">
								<div class="row">
									<!-- ***** Contact Text Start ***** -->
									<div class="col-lg-4 col-md-6 col-sm-12">
										<h5 style="color: #1D4F91;" class="margin-bottom-30">Get in touch</h5>
										<div class="contact-text">
											<p>
												Fursa is founded in 2012 and is a company specializing in the
												implementation of telecommunications and information technology projects
												managed by experts in the fields of technology and project management.
											</p>
											<p>In line with his highness
												Crown Prince Mohammed bin Salman vision to advance the technology
												sector,
												contribute and participate in the renaissance of digital transformation
											</p>
										</div>
									</div>
									<!-- ***** Contact Text End ***** -->

									<!-- ***** Contact Form Start ***** -->
									<div class="col-lg-8 col-md-6 col-sm-12">
										<div class="contact-form">
											<div class="row">
												<div class="col-lg-6 col-md-12 col-sm-12">
													<input type="text" placeholder="Name, surname">
												</div>
												<div class="col-lg-6 col-md-12 col-sm-12">
													<input type="text" placeholder="E-Mail">
												</div>
												<div class="col-lg-12">
													<textarea placeholder="Your message"></textarea>
												</div>
												<div class="col-lg-12">
													<button style="border: 0.5px solid white;"
														class="btn-primary-line pull-right">SEND</button>
												</div>
											</div>
										</div>
									</div>
									<!-- ***** Contact Form End ***** -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Blog End ***** -->
{% endblock content %}