{% extends "layout.html" %}
{% block content %}

<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Our Partners</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="{{ url_for('index') }}">Home</a></li>
								<li class="active">Our Partners</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->


		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="about">
							<div class="row">
								<div class="col-lg-12">
									<div class="center-heading">
										<h2 class="section-title">Our Partners</h2>
									</div>
								</div>
								<div class="offset-lg-3 col-lg-6">
									<div class="center-text">
										<p>Partnerships with leading Industry Principals & Technology Providers</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://consumer.huawei.com/sa-en/" class="page-gallery" title="Huawei">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/0Sp-50EZ_400x400.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.se.com.sa/en-us/Pages/home.aspx" class="page-gallery"
										title="Saudi Electricity Company">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1986551-1495256301.jpeg') }}"
											alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.momra.gov.sa/" class="page-gallery"
										title="Ministry of Rural Affairs Saudi Arabia">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1519892294960.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.dawiyat.com.sa/english/Default.aspx" class="page-gallery"
										title="Integrated Dawiyat">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/n1004.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.americandynamics.net/" class="page-gallery" title="American Dynamics">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/american_dynamics.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.zain.com/en/" class="page-gallery" title="zain">
										<img style="max-width:100%; max-height:100%;"
											src="{{ url_for('static', filename='assets/images/uploadsnewszain_ksa_logo2_1.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://mobile.lebara.com/global/en" class="page-gallery" title="Lebara">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/logo.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="http://www.juffali.com/" class="page-gallery" title="Khalid Ahmed Group">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1519863817102.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.gapp.sa/" class="page-gallery" title="GAPP">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/1586676799913.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://etmam.housing.gov.sa/en/home/" class="page-gallery" title="Etmam">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/etmam1.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.samsung.com/sa_en/" class="page-gallery" title="samsung">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/sam.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.panasonic.com/middleeast/en/support/local-warranty-in-middle-east/saudi-arabia.html" class="page-gallery" title="panasonic">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/pan.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.avigilon.com/products/acc/supported-cameras" class="page-gallery" title="avigilon">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/avi.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.genetec.com/" class="page-gallery" title="genetec">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/gen.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.milestonesys.com/" class="page-gallery" title="milestonesys">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/mile.jpeg') }}" alt="">
									</a>
								</div>
								<div class="col-lg-3 col-md-2 col-sm-3" style="width: 50%;">
									<a href="https://www.odoo.com/" class="page-gallery" title="odoo">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/odoo.jpeg') }}" alt="">
									</a>
								</div>

							</div>
					</div>
				</div>
			</div>

			<div class="container">

				<div class="row padding-bottom-10">
				</div>
			</div>

		</div>
		<!-- ***** Page Content End ***** -->
		</div>
	</section>
{% endblock content %}