{% extends "layout.html" %}
{% block content %}

	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>VMS Systems</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="{{ url_for('index') }}">Home</a></li>
								<li><a href="orange-features.html">Services</a></li>
								<li class="active">VMS Systems</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->


		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom">
			<div class="container">
				<div class="row">
					<!-- ***** Page Content Start ***** -->
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="page-detail">
							<p>
								A video management system, also known as video management software or a video management server, is a component of a security camera system that in general :
								<br>• Collects video from cameras and other sources
								<br>• Records / stores that video to a storage device
								<br>• Provides an interface to both view the live video, and access recorded videoA VMS can be the software component of a network video recorder and digital video recorder, though in general a VMS tends to be more sophisticated and provide more options and capabilities than a packaged NVR device. </p>
							<img src="{{ url_for('static', filename='assets/images/vms.jpeg') }}" class="img-fluid margin-bottom-30 service-image" alt="">

							<p> Our Top Brands :
								<br>• Milestone
								<br>• Genetec
								<br>• Avigilon
								<br>• Exacqvision
								<br>• Video Expert
							</p>

							<!-- ***** Gallery Start ***** -->
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12" style="width: 50%;">
									<a href="https://www.milestonesys.com/" class="page-gallery" title="Manage In One Place">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/mile.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12" style="width: 50%;">
									<a href="https://www.genetec.com/" class="page-gallery" title="Manage In One Place">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/gen.png') }}" alt="">
									</a>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12" style="width: 50%;">
									<a href="https://www.avigilon.com/products/acc/supported-cameras" class="page-gallery" title="Manage In One Place">
										<img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='assets/images/avi.jpeg') }}" alt="">
									</a>
								</div>
							</div>
							<!-- ***** Gallery End ***** -->
						</div>
					</div>
					<!-- ***** Page Content End ***** -->

					<!-- ***** Aside Start ***** -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<aside class="default-aside">
							<div class="sidebar">
								<ul>
									<li><a href="{{ url_for('professional_services') }}">Professional Services</a></li>
									<li ><a href="{{ url_for('it_iot_solution') }}">IT & IOT Solutions</a></li>
									<li ><a href="{{ url_for('odoo_erp') }}">ERP Systems</a></li>
									<li  class="active"><a href="{{ url_for('vms') }}">VMS Systems</a></li>
									<li><a href="{{ url_for('cctv_system') }}">CCTV Systems</a></li>
									<li><a href="{{ url_for('data_center') }}">Data Center & Microsoft Solutions</a></li>
								</ul>

								<div class="box">
									<img src="{{ url_for('static', filename='assets/images/photos/about/1.jpg') }}" alt="">
									<div class="hovered align-self-center">
										<p>You can contact us for purchase, installation and customizations. </p>
										<a href="{{ url_for('contact') }}" class="btn-white-line">Contact Us</a>
									</div>
								</div>
							</div>
						</aside>
					</div>
					<!-- ***** Aside End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>
{% endblock content %}